/* -------------------
       Navbar
--------------------------- */
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal
}

/* .logo {
    width: 6%;
    height: 6%;
} */


.lcon {
    width: 50px;
    height: 50px;
}


/* --------------
        Banner 
-----------------------------*/
/* .banner {
    margin-top: 150px;
}

.brand_name {
    font-size: 40px;
    color: #6D6D71;
    line-height: 60px;
}

.brand_name_style {
    font-size: 55px;
    color: #ee9939;
    font-weight: 600;
} */

.body {
    position: relative;
    /* width: 80%; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* left: -50px; */
}

.swiper {
    width: 500px;
    height: 520px;
}



.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    object-fit: cover;
    color: #fff;
}

.swiper-slide:nth-child(1n) {
    background-color: rgb(228, 221, 221);
    background-image: url('images/Adidas/DROPSET\ 2\ TRAINING\ SHOES/pic-1.png');
    background-size: cover;
}

.swiper-slide:nth-child(2n) {
    background-color: rgb(228, 221, 221);
    background-image: url('images/Nike/Jordan\ True\ Flight/pic-1.png');
    object-fit: cover;
}

.swiper-slide:nth-child(3n) {
    background-color: rgb(228, 221, 221);
    background-image: url('images/Louis-Vuitton/Christopher\ MM/pic-2.png');
    background-size: cover;
}

.swiper-slide:nth-child(4n) {
    /* background-color: rgb(211, 122, 7); */
    background-image: url('images/Calvin-Klein/Framed-Flower-Graphic-Classic-Crewneck-T-Shirt/pic-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Product */

.product_container {
    margin: 150px 0 100px 0;
}

.card_style {
    border: none !important;
}

.card-img-top {
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.product_brand_style {
    background-color: #f6ba75;
}


/* Footer */






@media (min-width: 540px) and (max-width:960px) {
    /* .logo {
        width: 12%;
        height: 12%;
    } */

    .brand_detail {
        margin-top: 60px;
    }

    .brand_name {
        font-size: 25px;
        line-height: 40px;
    }

    .brand_name_style {
        font-size: 40px;
    }

    .body {
        position: relative;
        top: -50px;
        width: 60%;
        height: 520px;
    }

    .swiper {
        width: 300px;
        height: 300px;
    }

    .swiper-slide {
        width: 100%;
        object-fit: cover;
    }
}