.custom label {
    display: block;
    text-align: left;
}



.design {
    width: 600px;
    margin: auto;
    padding: 0 20px 23px 20px;
    background-color: rgba(255, 228, 196, 0.129);
    text-align: center;
    border-radius: 20px;
}

.login-design {
    margin-top: 200px;
}